# Production (default) - deployed with: wrangler deploy
name = "erc8004-indexer-graphql"
main = "src/worker.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# Database configuration (Cloudflare D1)
[[d1_databases]]
  binding = "DB"
  database_name = "erc8004-indexer"
  database_id = "2b924f66-77c1-4faa-9b14-c0b1c6d208e9"

# Environment variables
[vars]
NODE_ENV = "production"
GRAPHQL_SECRET_ACCESS_CODE = "ERC8004-secret-code"
ETH_SEPOLIA_RPC_HTTP_URL = "https://eth-sepolia.g.alchemy.com/v2/WvEny4nR70VTUMX0DfR-A"
ETH_SEPOLIA_IDENTITY_REGISTRY = "0x8004a6090Cd10A7288092483047B097295Fb8847"
BASE_SEPOLIA_RPC_HTTP_URL = "https://base-sepolia.g.alchemy.com/v2/WvEny4nR70VTUMX0DfR-A"
BASE_SEPOLIA_IDENTITY_REGISTRY = "0x8004AA63c570c570eBF15376c0dB199918BFe9Fb"





# Optional: Production-specific route configuration
# route = { pattern = "graphql.erc8004.*", zone_name = "your-domain.com" }

# Development environment - deployed with: wrangler deploy --env development
[env.development]
name = "erc8004-indexer-graphql-dev"

